<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Old+English+Text+MT:wght@700&display=swap" rel="stylesheet">
    <title>Disk Usage Analyzer</title>
</head>
<body>
    <div class="pywebview-drag-region">
        <a href="{{ url_for('exit') }}">
            <img src="{{ url_for('static', filename='images/cross_small_w.png') }}" width="64" height="64" class="cross_icon">
        </a>
    </div>

    <div id="diskContainer">
      {% for category, items in data.items() %}
            <h1>{{ category }}</h1>
            <ul>
                {% for item in items %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <div id="chartContainer">
        <canvas id="filesChart"></canvas>
        <h1 id="folderSpace">{{pie_total_space}}</h1>
    </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
    <script>
        const cuc = document.getElementById('filesChart').getContext('2d');
        const labels = {{ pie_labels | tojson }};
        const data = {{ pie_data | tojson }};

        new Chart(cuc, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                label: 'Usage',
                data: data,
                backgroundColor: ["#9e0142", "#d53e4f", "#f46d43", "#fdae61", "#fee08b", "#e6f598", "#abdda4", "#66c2a5", "#3288bd", "#5e4fa2"],
                borderWidth: 1,
                borderColor: "white"
            }]
        }
        });
  </script>

<script>

  const reference = document.getElementById('filesChart');
  const target = document.getElementById('folderSpace');
  const referenceHeight = reference.offsetHeight / 2;
  console.log(`${referenceHeight}px`)

  target.style.bottom = `${referenceHeight + 20}px`;
</script>

</body>