<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css"/>
    <title>Selection</title>
</head>
<body class="disk">
    <div class="pywebview-drag-region">
        <a href="{{ url_for('exit') }}">
            <img src="{{ url_for('static', filename='images/cross_small_w.png') }}" width="64" height="64" class="cross_icon">
        </a>
    </div>

    <div id="listContainer">
        {% for category, items in data.items() %}
            <div class="category">
                <h3>{{ category }}</h3>
                <div class="items-list">
                    {% for item in items %}
                        <div class="listItem">
                            <span>{{ item }}</span>
                            <span class="arrow">→</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>