:root {
    --base-clr: #11121a;
    --chart-bg-color: #222533;
    --line-clr: #42434a;
    --hover-clr: #2b2d36;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
    --drag-region-clr: #1e202e;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

.pywebview-drag-region {
    background-color: var(--drag-region-clr);
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 75px; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cross_icon {
    position: relative;
}

body {
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100vh;
    overflow: hidden;
    place-items: center;
}

#diskContainer {
    overflow-y: auto;
    padding: 20px;
    background-color: var(--chart-bg-color);
    border-radius: 10px;
    position: fixed;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    left: 20px;
    top: 90px;
    width: 55%;
    height: 80vh;
}

#chartContainer {
    background-color: var(--chart-bg-color);
    border-radius: 20px; 
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 90px;
    right: 20px;
    width: 400px;
    height: 80vh;
}

#filesChart {
    margin-top: 25%;
    max-height: 100vh;
    max-width: 100%;
}

#folderSpace {
    position: relative;
    text-align: center;
}

#diskContainer::-webkit-scrollbar {
    width: 10px;
    background-color: var(--chart-bg-color);
    border-radius: 0 10px 10px 0;
}

#diskContainer::-webkit-scrollbar-thumb {
    background-color: var(--line-clr);
    border-radius: 10px;
}

#diskContainer::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-clr);
}

#diskContainer::-webkit-scrollbar-track {
    background-color: var(--chart-bg-color);
    border-radius: 0 10px 10px 0;
}


#selectionBox {
    overflow-y: auto;
    padding: 20px;
    background-color: var(--chart-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    width: 80%;
    height: fit-content;
}

#listContainer {
    width: 800px;
    height: 600px;
    margin-top: 40px;
    overflow-y: auto; /* Вертикальная прокрутка */
    padding: 10px;
    background-color: var(--chart-bg-color);
    border: 2px solid var(--drag-region-clr);
    border-radius: 10px;
}

.category {
    margin-bottom: 20px;
}

.items-list {
    display: flex;
    flex-direction: column;
}

.listItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--line-clr);
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.arrow {
    cursor: pointer;
}

#listContainer::-webkit-scrollbar {
    width: 10px;
    background-color: var(--chart-bg-color);
    border-radius: 0 10px 10px 0;
}

#listContainer::-webkit-scrollbar-thumb {
    background-color: var(--line-clr);
    border-radius: 10px;
}

#listContainer::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-clr);
}

#listContainer::-webkit-scrollbar-track {
    background-color: var(--chart-bg-color);
    border-radius: 0 10px 10px 0;
}
